.body{
    background-image: url('https://i.ibb.co/xmx9Ffd/ai-generated-water-picture-23-2150644632.jpg');
    background-repeat: no-repeat;
}
.card-container{
    border: 1px solid green;
    width: 300px;
    
}
.home-img{
    width: 300px;
}
.home-price-credit{
    display: flex;
    justify-content: space-evenly;
}

.flex-cards{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  
}
.btn{
    background-color: aquamarine;
    width: 280px;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    color: green;
}
.main-container{
   
    display: flex;
    justify-content: space-between;
}